* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-header {
    background-color: #06031b;
    height: auto;
    min-width: 100%;
}

header {
    min-width: 100vw;
    background-color: transparent;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 0 50px; */
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-img {
    height: 90px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.logo h1 {
    color: #fff;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(224, 224, 224);
    font-weight: 600;
    font-size: 18px;
    transition: 0.1s ease-out;
}

nav ul li a:hover {
    /* background-color: #000988;
    padding: 2px 5px;
    border-radius: 10px;
    color: #fff; */
    border-bottom: 3px solid #fff;
    border-radius: 2px;
    /* padding: 0 0.5px; */
    color: #fff;
    /* font-weight: 700; */
}

/* .btn {
    background-color: #01b671;
    padding: 10px 25px;
    border-radius: 30px;
    color: black;
    transition: 0.4s ease-in-out;
    text-decoration: none;
}

.btn:hover {
    background-color: #31a25e;
} */
.top-banner {
    /* height: 800px; */
    /* width: 100%; */
    background-image: url(images/top-banner.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.top-banner {
    font-size: 30px;
    padding-top: 7%;
    padding-left: 7%;
}

.top-banner p {
    font-size: 30px;
    margin-top: 2%;
    padding-bottom: 2%;
    font-weight: 600;
}

.join-btn {
    text-decoration: none;
    background-color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #06031b;
    transition: 0.2s ease-in;
}

.join-btn:hover {
    background-color: #06031b;
    color: #fff;
}

.course-heading {
    font-size: 30px;
    text-align: center;
}

.course-section {
    margin-top: 50px;
    height: 200vh;
}

.courses-1 {
    display: flex;
    /* width: 33%; */
}

.courses-2 {
    display: flex;
}

.course-width {
    width: 30%;
    margin: 50px;
    padding: 20px;
    transition: 0.2s;
}

/* .course-width:hover {
    /* box-shadow: 5px 5px 5px gray;
    background-color: #f0f0f0;
    border-radius: 15px; */
/* border-radius: 20px;
    background: #e6e6e6;
    box-shadow: 20px 20px 60px #e6e6e6,
        -20px -20px 60px #ffffff;} */

.course-width img {
    width: 100%;
    border-radius: 20px;
    text-align: center;
}

/* .course-width img:hover {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
} */

.course-width h1 {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

.course-width p {
    padding-bottom: 10px;
    margin: 5px 0;
    text-align: center;
}

.course-width a {
    font-weight: 500;
    text-decoration: none;
    color: #000;
    transition: 0.2s ease-in;
    border: 2px solid #06031b;
}

.course-width a:hover {
    color: #fff;
    background-color: #06031b;
    /* border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff; */
}

.link-btn {
    color: #06031b;
    padding: 4px 100px 6px 100px;
    border-radius: 4px;
}

/* .course-width a:hover {
    text-decoration: none;
    color: #0e005c;
    background-color: transparent;
    padding: 4px 20px 6px 20px;
    border-radius: 4px;
    border: 1px solid #0e005c;
} */
.more-course a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    border: 2px solid #06031b;
    border-radius: 5px;
}

.more-course:hover {
    color: #fff;
    background-color: #06031b;
}

footer {
    text-align: center;
    height: 80px;
    background-color: #06031b;
}

footer p {
    color: #fff;
    /* padding-top: 25px; */
}

.head {
    padding-top: 40px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.course-img img {
    width: 60%;
    margin-left: 20px;
    border-radius: 20px;
}

.pgd-page {
    display: flex;
}

.course-details {
    display: flex;
}